<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="19.1.0" targetFramework="net472" />
  <package id="Autofac" version="6.2.0" targetFramework="net472" />
  <package id="bootstrap" version="3.0.0" targetFramework="net472" />
  <package id="ChoETL" version="1.2.0.7" targetFramework="net472" />
  <package id="ChoETL.JSON" version="1.2.0.7" targetFramework="net472" />
  <package id="Confluent.Kafka" version="1.4.3" targetFramework="net472" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net472" />
  <package id="DnsClient" version="1.2.0" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net472" />
  <package id="jQuery" version="1.10.2" targetFramework="net472" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net472" />
  <package id="KanCache" version="1.0.4" targetFramework="net472" />
  <package id="KantimeDataController" version="1.0.3" targetFramework="net472" />
  <package id="librdkafka.redist" version="1.4.2" targetFramework="net472" />
  <package id="MessagingQueueClient" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net472" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Microsoft.PowerBI.Api" version="3.10.0" targetFramework="net472" />
  <package id="Microsoft.PowerBI.Core" version="1.1.11" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.18" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Modernizr" version="2.6.2" targetFramework="net472" />
  <package id="MongoDB.Bson" version="2.9.2" targetFramework="net472" />
  <package id="MongoDB.Driver" version="2.9.2" targetFramework="net472" />
  <package id="MongoDB.Driver.Core" version="2.9.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Phoenix.APIClient" version="1.0.14" targetFramework="net472" />
  <package id="Pipelines.Sockets.Unofficial" version="2.2.0" targetFramework="net472" />
  <package id="Polly" version="7.2.0" targetFramework="net472" />
  <package id="RabbitMQ.Client" version="5.1.2" targetFramework="net472" />
  <package id="RestSharp" version="106.10.1" targetFramework="net472" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net472" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net472" />
  <package id="StackExchange.Redis" version="2.2.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="5.0.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net472" />
  <package id="System.Threading.Channels" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>