<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZephyrSuperAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ASPStateInMemory" connectionString="Data Source=192.168.2.231;Initial Catalog=ASPStateInMemory;Persist Security Info=True;User ID=medicaresqluser;Password=kantime_123" providerName="System.Data.SqlClient" />
	
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="ZephyrMaster" connectionString="Data Source=192.168.2.231;Initial Catalog=Working_ZephyrMaster;User ID=MedicareSQLUser;Password=kantime_123" providerName="System.Data.SqlClient" />
    <add name="ZephyrDbml" connectionString="Data Source=$SERVER$;Initial Catalog=$DATABASE$;Persist Security Info=True;User ID=MedicareSQLUser;Password=kantime_123" providerName="System.Data.SqlClient" />
    <add name="WebLogDatabase" connectionString="Data Source=192.168.2.231;Initial Catalog=WebLogs;Persist Security Info=True;User ID=MedicareSQLUser;Password=kantime_123" providerName="System.Data.SqlClient" />
    <add name="WebLogApiCallsDatabase" connectionString="Data Source=192.168.2.231;Initial Catalog=WebLogs_ApiCalls;&#xA;       Persist Security Info=True;User ID=MedicareSQLUser;Connection Timeout=100;Password=kantime_123" providerName="System.Data.SqlClient" />
    <add name="ZephyrMaster_Live" connectionString="Data Source=192.168.2.231;Initial Catalog=Working_ZephyrMaster;User ID=MedicareSQLUser;Password=kantime_123" providerName="System.Data.SqlClient" />
    <add name="ZephyrMaster_Training" connectionString="Data Source=192.168.2.231;Initial Catalog=Working_ZephyrMasterTraining;Persist Security Info=True;User ID=MedicareSQLUser;Password=kantime_123" providerName="System.Data.SqlClient" />
    <add name="MONGO:MongoConnection" connectionString="mongodb://192.168.2.150" />
    <!--<add name="MONGO:MongoConnection" connectionString="mongodb+srv://guru:n0h4lRMEYnZCFwqZ@cluster0-izzjt.mongodb.net/ZephyrHelps?retryWrites=true&amp;w=majority" />-->
    <add name="ZephyrDWAuth" connectionString="Data Source=192.168.1.20;Initial Catalog=ZephyrDW;Persist Security Info=True;User ID=MedicareSQLUser;Password=kantime_123" providerName="System.Data.SqlClient" />
    <add name="PrivateArchive" connectionString="Data Source=192.168.2.231;Initial Catalog=Working_ZephyrArchive;User ID=MedicareSQLUser;Password=kantime_123" providerName="System.Data.SqlClient" />
    <add name="ZephyrDbml_readonly" connectionString="Data Source=$SERVER$;Initial Catalog=$DATABASE$;Persist Security Info=True;User ID=MedicareSQLUser;Password=kantime_123" providerName="System.Data.SqlClient" />
    <add name="ZephyrEnvironments" connectionString="Data Source=192.168.2.231;Initial Catalog=ZephyrEnvironments;Persist Security Info=True;User ID=medicaresqluser;Password=kantime_123" />

<add name="ZephyrLiveConnectionStringReadOnly" connectionString="Data Source=$SERVER$;Initial Catalog=$DATABASE$;Persist Security Info=True;User ID=medicaresqluser;Password=kantime_123;Application Name=Zephyr" providerName="System.Data.SqlClient" />


  </connectionStrings>
  <appSettings>
     
   
    <add key="EmailServiceApiUrl" value="http://192.168.1.106:31612" />

    <add key="ClinicianServiceAPI" value="http://192.168.1.106:31605/api/clinicianservicertb" />
    <add key="KantimeIdentityServerAdminAPI" value="http://192.168.1.106:31350/api/identityadminservice" />
    <add key="ChangeOrderServiceApiUrl" value="http://192.168.1.106:31604/api/changeorderservicertb" /> 
    <add key="MONGO:DatabaseName" value="ZephyrHelps" />
    <add key="TimeCountLogFile" value="c:\SuperAdminLog\Log\PageRequestTimeCount-WorkingZadmin.log" />
    <add key="ExceptionLogFile" value="c:\SuperAdminLog\Exceptions-WorkingZadmin.log" />
    <add key="ApplicationName" value="WorkingZadmin" />
    <add key="ProcedureLogFile" value="c:\SuperAdminLog\Log\ProcedureLogFile-WorkingZadmin.log" />
    <add key="sessionoutExceptionLogFile" value="c:\SuperAdminLog\SessionOutExceptions-WorkingZadmin.log" />
    <add key="ErrorMessagesXML" value="C:\\inetpub\\wwwroot\\WorkingZadmin\\UI\XML\\ErrorMessages.xml" />
    <!-- <add key="TempExcelFiles" value="TempFiles" /> -->
    <add key="TempTemplateFolder" value="\\192.168.1.15\MedicareApplications\KanTimeFolders\Temp\zadmin\import_folder\" />
    <add key="DownloadMedicareTemplate" value="C:\\Inetpub\\wwwroot\\WorkingZadmin\\Template" />
    <add key="StoredProcedureLog_Enable" value="1" />
    <add key="Proc_Exec_Write_TimeLimit" value="0" />
    <add key="StoredProcedureLog_WriteInterval_InMinutes" value="0" />
    <add key="InstanceName" value="WorkingZadmin" />
    <add key="InstanceCode" value="Working" />
    <add key="WriteLogToDatabase" value="1" />
    <add key="RegularWebsite" value="https://192.168.1.24/working/UI/Common/Login.aspx" />
    <add key="MenuXML" value="\\192.168.1.15\MedicareApplications\KantimeMedicareDocs\common_files\zadmin\menu_files\Menu.xml" />
    <add key="PagesXML" value="\\192.168.1.15\MedicareApplications\KantimeMedicareDocs\common_files\zadmin\menu_files\Pages.xml" />
    <add key="EmployeeJobPortalURL" value="https://192.168.1.15/CaregiverJobPortal" />
    <add key="PhysicalDocumentPath" value="\\192.168.1.15\MedicareApplications\KantimeMedicareDocs\" />
    <add key="TempFilesPath" value="\\192.168.1.15\MedicareApplications\KanTimeFolders\Temp\zadmin\temp_folder\" />
    <add key="ReportServer" value="http://192.168.1.16/ZephyrReportEngine_Production/PrintMaster.aspx" />
    <add key="DocumentsFolderTempPath" value="C:\MedicareApplications\KanTimeFolders\Temp\" />
    <add key="KanTimeBIFolderPath" value="C:\MedicareApplications\KanTimeFolders\DataScience" />
    <add key="IsBITest" value="0" />
    <add key="BIWorkspaceID" value="4833bc77-8ffc-4e8e-a482-f20fecd062f1" />
    <add key="DSTestDatabaseName" value="KantimeDS_113" />
    <add key="PowerBI:powerBiApiEndpoint" value="https://api.powerbi.com" />
    <add key="PowerBI:azureApiEndpoint" value="https://management.azure.com" />
    <add key="PowerBI:subscriptionId" value="431a171b-8a6f-4c57-b6f7-9b96bec84d2c" />
    <add key="ProjectID" value="1" />
    <add key="OnboardingAutoSaveTime" value="30000" />
    <add key="HospiceProjectID" value="2" />   

    <add key="PowerBI:accessKey" value="IHz89oaIXQH/y7ZM3QQDDuHXNBE5ZTf3Bk3J/Xjtyl3IugbXGat6ojvPU4XWy2ZEKe9JqqESFYRyrTq8vFePnQ==" />
    <add key="PowerBI:clientId" value="be720b6a-6d5d-47a4-935e-5decfb6f28a5" />
    <add key="PowerBI:resourceGroup" value="KanTimePowerBIWC" />
    <add key="PowerBI:workspaceCollectionName" value="KanTimePowerBIWC" />
    <add key="DocumentsFolderPhysicalPath2" value="\\192.168.1.15\MedicareApplications\KanTimeFolders\" />
    <add key="MedsysGroupKey" value="g2Ofl5WErSAX07K2cmCIvQftL4Xu93zYFqoTX7cBWqqjhCvAztsusvEElLrnPa0Q" />
    <add key="MedsysBaseURL" value="https://texasevv.vincent-hcs.com/api/" />
    <add key="MedsysBaseURL" value="https://texasevv.vincent-hcs.com/api/" />
    <add key="ZadminDBAFolderPath" value="\\192.168.1.15\MedicareApplications\KantimeMedicareDocs\HHABilling" />

    <add key="SwaggerURl" value="https://192.168.1.15/MedicareAPI/swagger/ui/index" />
    <add key="kpcPhysicalDocumentPath" value="C:\MedicareApplications\KPCDocs\" />
    <add key="NPI:TAXONOMY" value="https://npiregistry.cms.hhs.gov/api/?number=" />
    <add key="PhysicianTaxonomyMassUpdateWaitIntervalSeconds" value="10" />
    <add key="PhysicianTaxonomyMassUpdateRecordsPerBatch" value="6" />
    <add key="onBoardingServerName" value="192.168.1.17" />
    <add key="onBoardingDataBaseName" value="Working_ZephyrHCPN" />
    <add key="onBoardingHHAStartIndex" value="20000" />
    <add key="LiveHHAStartIndex" value="180" />
    <add key="CaseTrackerDataBaseName" value="Working_CaseTracker" />
    <add key="CaseTrackerServerName" value="192.168.1.17" />
    <add key="FileUploadedinMB" value="25" />
    <add key="MultipleFileUploadMaxSize" value="30" />
    <add key="InstanceType" value="Zadmin_Live" />
    <add key="DocumentURL" value="https://192.168.1.15/Working/" />
    <add key="IsTrainingInstallation" value="0" />
    <add key="TestSite" value="1" />
    <add key="OnboardingCustomerPortalURL" value="https://192.168.1.15/Working" />
    <!--Added for PDGM,for test sites/local sites should be 1 else 0-->

     <add key="googleplus_client_sceret" value="tHUBrRT4Kawk94XARgz4sSDe" />
    <add key="googleplus_client_id" value="622095663788-2lg3n94kt7dtdcgiddua7e8hmp57ilf3.apps.googleusercontent.com" />
    <add key="googleplus_client_sceret" value="068frj4pzbzstNCFl55EiAkZ" />

	<add key="TableauBI:BaseURL" value="http://192.168.1.163" />
    <add key="TableauBI:BIAdminUser" value="Administrator" />
    <add key="TableauBI:BIAdminPassword" value="healthcare_123" />
    <add key="TableauBI:ProjectName" value="HH_Reports" />
    <add key="TableauBI:ContentUrl" value="" />
    <add key="BI:ReportVendor" value="Tableau" />
    <add key="BI:DsInstance" value="Live" />
  
    <add key="AppID" value="1700102" />
    <add key="AuditAPI:WriteAPIBaseURL" value="http://18.188.254.19:4321" />
    <add key="AuditAPI:ReadAPIBaseURL" value="http://18.188.254.19:5265" />
	<add key="Audit:PythonApiUrl" value="http://18.222.145.141:5265/" />
    <add key="Audit:PythonApiMethod" value="get_audit_data" />
    <add key="AuditAPI:AuthToken" value="R36nwdV60o863XY0rWUP9nT8Y6Z88390C42q"></add>
    <add key="AuditAPI:WriteToHive" value="0"></add>
    <add key="AuditAPI:ReadFromHive" value="0"></add>
	<add key="Project_AppID" value="2" />

    <add key="RabittMQ:EventBusHostName" value="192.168.3.81" />
    <add key="RabittMQ:EventBusPortNo" value="5672" />
    <add key="RabittMQ:EventBusUserName" value="admin" />
    <add key="RabittMQ:EventBusPassword" value="StrongPassword" />
    <add key="RabittMQ:EventBusRetryCount" value="5" />
    <add key="RabittMQ:SubscriptionClientName" value="ZephyrMessage" />
    <add key="RabittMQ:EnableRabbitMQ" value="0" />

    <add key="UseIdentityLoginForZAmin" value="0" />
    <add key="KanTimeIdentityServerURL" value="http://192.168.4.74/identity" />
    <add key="KanTimeIdentityClientID" value="zadmin" />
    <add key="KanTimeIdentityClientSecret" value="client_secret_zadmin" />
    <add key="KanTimeIdentityClientScope" value="openid profile offline_access ZAdminAPI" />
	
    <add key="PayerServiceApiUrl" value="http://192.168.1.106:30668/api/payerservice" />
    <add key="ZAdminServiceApiUrl" value="http://192.168.4.74/identity" />
    <add key="Audit:KeyGenerationAPI" value="https://192.168.3.100/audit/api/v1/SKey" />
	
  
    <add key="RedisCacheConnection" value="192.168.5.213:6379,192.168.5.214:6379,192.168.3.11:6379,192.168.5.213:7000,192.168.5.214:7000,192.168.3.11:7000,abortConnect=false,ssl=false" />

    <add key="RedisCacheKeyForTokens" value="RevokedAccessTokens" />

    <add key="RedisSessionConnection" value="192.168.1.138:6379,abortConnect=false,ssl=false,password=3dd6ef019c2e82841bc505d2288271b440d9ad60" />
    <add key="RedisSessionAppName" value="Working" />
    <add key="IsRedisSession" value="0" />
 <add key="UseTestCredentialsForCreditCards" value="1" />
<add key="Audit:RoutingKey" value="AuditLogChangeEvent_Working" />
    <add key="Audit:EnableKafkaMQ" value="1" />
    <add key="KafkaMQ:HostName" value="dev.kafka.kantimehealthcare.us:9092" />
    <add key="Audit:MQDataSize" value="100" />


    <add key="HospiceServerName" value="192.168.1.92"></add>
    <add key="HospiceDataBaseName" value="HospiceMaster"></add>

    <add key="Telerik.AsyncUpload.TemporaryFolder" value="\\192.168.1.15\MedicareApplications\KanTimeFolders\Temp\zadmin\temp_folder" />

    <add key="Audit:EnableRefactoring_Transaction" value="1" /> 
    <add key="Audit:EnableExperimentation_Transaction" value="1" /> 
    <add key="Audit:EnableHHA_Transaction" value="0,1,248"></add> 
    <add key="Audit:DBServer_Transaction" value="" /> 
    <add key="Audit:DBName_Transaction" value="" />

    <add key="ZAdminPublishServiceApiUrl" value="http://192.168.1.106:30145" />
    <add key="FormServiceApiUrl" value="http://192.168.1.106:31603/api/formservicertb/v1" />
    
    <add key="JavaScriptVersion" value="6.8.24" />
    <add key="CSSVersion" value="6.8.24" />
    <add key="isTestInstance" value="1" />
    <add key="awsAccessKeyId" value="AKIAWTHTHEIRSJXTXH2K" />
    <add key="awsSecretAccessKey" value="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" />
    <add key="BucketNameAmazon" value="grasko1" />
    <add key="MainFolderAmazon" value="KantimeMedicareDocs" />
    <add key="SaveSignaturesinAmazon" value="1" />
    <add key="ZAdminCareTrackerApiUrl" value="http://192.168.1.106:31720/api" />
    <add key="DocumentServiceAPIUrl" value="http://192.168.1.106:31614" />
	<add key="WebSocketServerApiUrl" value="http://192.168.1.106:31670" />
   <add key="ZAdminServiceApiUrl" value="http://192.168.1.106:30666/api/zadminservice" />
    <add key="KPCMainFolderAmazon" value="KantimeKPCDocsLocal" />

    <add key="Audit:EnableRefactoring_Transaction" value="1" /> 
    <add key="Audit:EnableExperimentation_Transaction" value="0" /> 
    <add key="Audit:EnableHHA_Transaction" value=""></add> 
    <add key="Audit:DBServer_Transaction" value="" /> 
    <add key="Audit:DBName_Transaction" value="" />



    <add key="krx_api_key" value="f29ea611-b037-11ec-bdc1-00155d022c08" />
    <add key="krx_admin_url" value="http://192.168.1.106:31730/?t={token}s=console#/admin" />


    <add key="DocumentsFolderPhysicalPath" value="\\192.168.1.15\MedicareApplications\KanTimeFolders\" /> 


    <add key="DownloadMedicareTemplate" value="C:\\Inetpub\\wwwroot\\WorkingZadmin\\Template" />
  
	<add key="LMS_ControlPanel_Url" value="https://lmspanel-dev.kantimehealth.net" />




  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
 <sessionState mode="Custom" customProvider="SqlInMemoryProvider">
      <providers>
        <add name="SqlInMemoryProvider" type="Microsoft.Web.SessionState.SqlInMemoryProvider" connectionString="data source=192.168.2.231;initial catalog=ASPStateInMemory;User ID=medicaresqluser;Password=kantime_123;" />
      </providers>
   </sessionState>
    <!--sessionState mode="InProc" timeout="25"></sessionState> -->
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="2147483647" maxQueryStringLength="2097151" />
    <!--<compilation targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>-->
    <compilation debug="true" targetFramework="4.6.2" batch="false" />
    <authentication mode="Windows" />
    <!--<identity impersonate="true" userName="Grasko\medicare" password="healthcare_123"/>-->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
  </handlers>
        <httpRedirect enabled="false" destination="http://192.168.3.95/workingzadmin" />
  </system.webServer>
 

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.3.1015.40" newVersion="2013.3.1015.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK" publicKeyToken="9f476d3089b52be3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.52.0" newVersion="2.3.52.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
    
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>


    </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>

      




  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_iGetSlowRunningQueryService" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="10485760" maxBufferSize="10485760" maxReceivedMessageSize="10485760" transferMode="Streamed">
          <readerQuotas maxDepth="10485760" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" />
        </binding>
        <binding name="BasicHttpBinding_iGetSlowRunningQueryService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WebLog_Service/Service1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iGetSlowRunningQueryService" contract="Longrunningqueryreports.iGetSlowRunningQueryService" name="BasicHttpBinding_iGetSlowRunningQueryService" />
      <endpoint address="http://192.168.1.16/WeblogService_WCF/WebLog_Service.GetSlowrunningQueryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iGetSlowRunningQueryService1" contract="WebLogsService.iGetSlowRunningQueryService" name="BasicHttpBinding_iGetSlowRunningQueryService1" />
    </client>
  </system.serviceModel>

 <applicationSettings>
                <ZephyrSuperAdmin.Properties.Settings>
                        <setting name="ZephyrSuperAdmin_CaseTrackerWebService_CaseTrackerService" serializeAs="String">
                                 <value>http://192.168.1.15/CaseTrackerService/CaseTrackerService.asmx</value>
                        </setting>
                </ZephyrSuperAdmin.Properties.Settings>
        </applicationSettings>
</configuration>  